@model NetCare.Models.patient
@{
    ViewBag.Title = "Technician Ward Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .buses-img {
        height: 50px;
        width: 50px;
    }

    .my-input-class {
        padding: 3px 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .my-confirm-class {
        padding: 3px 6px;
        font-size: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        background-color: #337ab7;
        text-decoration: none;
    }

    .my-cancel-class {
        padding: 3px 6px;
        font-size: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        background-color: #a94442;
        text-decoration: none;
    }

    .error {
        border: solid 1px;
        border-color: #a94442;
    }

    .destroy-button {
        padding: 5px 10px 5px 10px;
        border: 1px blue solid;
        background-color: lightgray;
    }
</style>

<section class="content" onload="JavaScript:timedRefresh(180000);">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header view-list ">
                    <div class="info-page">
                        <a class="btn btn-block btn-warning view-all-1">INFO PAGE</a> <h3 class="box-title">Technician Ward Page </h3>
                        <h3 class="box-title pull-right">WARD:@ViewBag.Techward</h3>
                    </div>
                    <div class="all-group-btn TechnicianWardPage">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-2">
                                <div class="add-user">
                                    <button type="button" class="btn btn-block btn-warning">Prescribed Report</button>
                                </div>
                            </div>
                            <div class="form-group col-lg-2 ">
                                <div class="add-user">
                                    <button type="button" class="btn btn-block btn-warning">Antibiotics list</button>
                                </div>
                            </div>
                            <div class="form-group col-lg-1 ">
                                <div class="add-user">
                                    <button type="button" class="btn btn-block btn-warning">All</button>
                                </div>
                            </div>
                            <div class="form-group col-lg-1 ">
                                <div class="add-user">
                                    <button type="button" class="btn btn-block btn-warning">Red</button>
                                </div>
                            </div>
                            <div class="form-group col-lg-1 ">
                                <div class="add-user">
                                    <button type="button" class="btn btn-block btn-warning">Amber</button>
                                </div>
                            </div>
                            <div class="form-group col-lg-1 ">
                                <div class="add-user">
                                    <button type="button" class="btn btn-block btn-warning">Green</button>
                                </div>
                            </div>
                            <div class="form-group col-lg-2 ">
                                <div class="add-user">
                                    <a class="btn btn-block btn-warning" href="~/Admin/MedicationsOrderPage/?Ward=@ViewBag.Techward">In patient orders</a>
                                </div>
                            </div>
                            <div class="form-group col-lg-2 ">
                                <div class="add-user">
                                    <a class="btn btn-block btn-warning" href="~/Admin/PharmacyStoresOrder/">Stores order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding VIEW-LIST">
                    <table id="myAdvancedTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="main-th">Seen Today</th>
                                <th class="main-th">Patient Name</th>
                                <th class="main-th" data-toggle="tooltip" title="Dhx status + Number of days without dhx">Dhx Status</th>
                                <th class="main-th">Priority Patients</th>
                                <th class="main-th">Requires Counselling</th>
                                <th class="main-th">NOMAD</th>
                                <th class="main-th">DHX Follow up</th>
                                <th class="main-th" data-toggle="tooltip" title="High Risk Medications Prescribed On Previous Admission Not in This Admission">High Risk Medications</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PatientTech != null)
                            {
                                foreach (var item in Model.PatientTech)
                                {
                                    <tr>
                                        <td><img class="check-mark" src="~/images/check-mark(1).png"></td>
                                        <td><a href="~/Admin/MedicationsOrderPage2/@item.lnkpid">@Html.DisplayFor(modelItem => item.PatientName)</a></td>
                                        <td>@Html.DisplayFor(modelItem => item.DHX_Status)</td>
                                        <td>@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Medicine_Output))</td>
                                        @if (item.RequireCounselling!=null)
                                        {
                                            <td>@Html.DisplayFor(modelItem => item.RequireCounselling)</td>
                                        }
                                        else
                                        {
                                            <td>No Counselling Required</td>
                                        }
                                        <td><img class="check-mark" src="~/images/NOMAD.jpg"></td>
                                        <td><a data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.Follow_Output)">#</a></td>
                                        <td>YES</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.cellEdit.js"></script>
    <script src="~/Scripts/advanced.js"></script>


    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script type="text/javascript">
        function timedRefresh(timeoutPeriod) {
             setTimeout(function() {
              location.reload(true);
          }, timeoutPeriod);
         }
    </script>
}